#marker-photographer(ng-click="onClick($event)")
	img(ng-src="lib/ng-picstreet/src/svg/photographer.svg")
	#item-current-location-bar
		img(ng-src="lib/ng-picstreet/src/svg/photographe-bar.svg")
	#item-current-location
		.sonar-location
			img(ng-src="lib/ng-picstreet/src/svg/photographer-location.svg")
			.sonar-wave
