#marker-photographer(ng-click="onClick($event)")
	img(src="photographer.svg")
	#item-current-location-bar
		img(src="photographe-bar.svg")
	#item-current-location
		.sonar-location
			img(src="photographer-location.svg")
			.sonar-wave
